.sidebar {
    width: 15vw;
    height: 80vh;
    background-color: $white;
    box-shadow: $shadow-light;
    
    &__turn {
        width: 100%;
        cursor: pointer;
        border: 0;
        background-color: $white;
        color: inherit;
        padding: 1.5vw 0;
        font-size: 1.2vw;
        &:hover {
            background-color: $white;
        }
    }
    
    &__list {
        list-style: none;
        width: 100%;
        &__link {
            color: inherit;
            display: table;
            width: 100%;
        }
        &__item {
            width: 15vw;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            min-height: 5.5rem;
            background-color: $white;
            font-size: 1.1vw;
            &:hover {
                background-color: $white;
            }
            
            &__number {
                padding: 1.5vw 0;
                width: 2.5vw;
                text-align: center;
                font-weight: $bold;
            }
            
            &__hall {
                width: 12.5vw;
                padding: 0 .2vw;
            }
        }
    }
}

.active-item-blue {
    background-color: $accent-blue;
    color: #fff;
    font-weight: $bold;
    font-size: 1.3vw;
    
    &:hover {
        background-color: $accent-blue;
    }
}