/* COLORS DARK THEME */
$black: #0d0d0d;
$bg-dark: #242424;
$mid-black: #2b2b2b;
$mid-light-black: #3d3d3d;
$lighter-black: #545454;

$gray: #737373;
$light-gray: #c4c4c4;

$dirt-white: #e7e6e4;

$shadow-dark: 0 4px 10px rgba(255,255,255,.05);


/* COLORS LIGHT THEME */
$white: #fff;
$bg-light: #f3f3f3;

$light-theme-black: #000;

$shadow-light: 0 4px 10px rgba(0,0,0,.05);


/* SYSTEM COLORS */
$system-light-red: #EE372D;
$system-red: #C72A2A;

$system-light-green: #4CD964;
$system-green: #68B975;

$system-light-orange: #FFB84E;
$system-orange: #E99F30;


/* ACCENT COLORS */
$accent-blue: #327ED1;

/* VALUES */
$main-width: 97vw;
$bold: 500;